.mainSection{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form{
  width: 23rem;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e0f2fe;
  border: 1px solid #b0daed;
  border-radius: 10px;
}
.formControl{
  display: flex;
  flex-direction: column;
  width: 18rem;
  height: 68px;
  flex-wrap: wrap;

}
.formControl label{
  margin: 5px 3px;
  font-weight: bold;
  font-size: 11px;
  color: rgb(63, 63, 63);

}
.formControl input{
  width: 100%;
  padding: 5px 8px;
  outline: none;
  border: 1px solid #b0daed;
  border-radius: 5px;
  font-size: 11px;
}
button{
  outline: none;
  border: none;
  background-color: #0ea5e9;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 6px 10px;
  margin: 12px 10px 10px 23px;
  width: 8.5rem;
}
button[disabled], button:disabled{
  background-color: #0ea4e98e;
}
.error{
  width: 100%;
  color: red;
  font-size: 9px;
  margin: 2px 0px 0px 2px;
}
.genderInput{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 20px;
  font-size: 12px;
  margin: 0px 0px 18px 38px;
  flex-wrap: wrap;
}
.genderInput input{
  margin: 0px 3px 0px 20px;
}
.formControl select{
  width: 100%;
  padding: 4px 8px;
  outline: none;
  border: 1px solid #b0daed;
  border-radius: 5px;
  font-size: 11px;
}
.selectCountry{
  height: 50px;
}
.checkBox{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 20px;
  font-size: 12px;
  margin: 0px 0px 15px 38px;
  flex-wrap: wrap;
}
.checkBox input{
  margin: 0px 3px 0px 20px;
  width: 11px;
}
.checkBoxError{
  margin-left: 20px;
}
.terms{
  width: 100%;
  height: 20px;
  margin: 0px 0px 15px 38px
}
.terms input{
  margin: 0px 3px 0px 20px;
  width: 11px;
}
.terms label{
  font-size: 12px;
}
.termsError{
  margin-left: 20px;
}
